<!-- add_coupon.html -->
{% extends 'dashboard/manager/base/base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
  <h1>Add Coupon</h1>
  <form method="POST">
    {% csrf_token %}
     <div class="form-group">
      <label for="code">Title:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="code">Coupon Code:</label>
      <input type="text" class="form-control" id="code" name="code" required>
    </div>
    <div class="form-group">
      <label for="discount_amount">Discount Amount:</label>
      <input type="number" step="0.01" class="form-control" id="discount_amount" name="discount_amount" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Coupon</button>
  </form>
</div>

{% endblock %}
