{% extends "dashboard/manager/base/base.html" %}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>


    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Events
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Category</th>
                </tr>
                </tfoot>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.category }}</td>
                    <td>
                        <a href="{% url 'dashboard:event-edit' event.id %}" class="btn btn-sm btn-primary">Edit</a>
                        <button class="btn btn-sm btn-danger btn-delete" data-event-id="{{ event.id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Tickets
        </div>
        <div class="card-body">
            <table id="datatablesTicket" class="table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>User</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Reservation Date</th>
                        <th>Coupon</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Event</th>
                        <th>User</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Reservation Date</th>
                        <th>Coupon</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.event.title }}</td>
                        <td>{{ ticket.user.username }}</td>
                        <td>{{ ticket.quantity }}</td>
                        <td>{{ ticket.price }}</td>
                        <td>{{ ticket.reservation_date }}</td>
                        <td>{{ ticket.coupon }}</td>
                        <td>
                            <a href="{% url 'dashboard:ticket-edit' ticket.id %}" class="btn btn-sm btn-primary">Edit</a>
                            <button class="btn btn-sm btn-danger btn-delete" data-ticket-id="{{ ticket.id }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
               function deleteEvent(eventId) {
            if (confirm("Are you sure you want to delete this event?")) {
                // Send the AJAX request to delete the event
                $.ajax({
                    url: '/dashboard/delevent/' + eventId + '/',
                    type: "POST",
                    dataType: "json",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function (response) {
                        // Handle the success response
                        console.log("Event deleted successfully");
                        // Perform any necessary actions after successful deletion
                    },
                    error: function (xhr, errmsg, err) {
                        // Handle the error response
                        console.log("Error deleting event");
                        // Perform any necessary error handling
                    }
                });
            }
        }

        // Add event listener to the delete buttons
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".btn-delete");
            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    const eventId = button.getAttribute("data-event-id");
                    deleteEvent(eventId);
                });
            });
        });
    </script>
</div>

{% endblock content %}

