<!DOCTYPE html>
<html lang="en">
  {% load static %}
    <head>
        {% include 'base/header.html' %}
    {% block extrahead %}

  {% endblock extrahead %}
    </head>
    <body class="sb-nav-fixed">
         <!-- Navbar -->
  {% include 'base/navbar.html' %}
          <!-- /.navbar -->
        <div id="layoutSidenav">
              {% include 'base/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    {% include 'base/dashboard.html' %}
                </main>
                {% include 'base/footer.html' %}
            </div>
        </div>
         {% include 'base/js.html' %}
    </body>
</html>
